<h1 class="row">Панель администратора</h1>
<div class="row menu-block">
  <mat-card class="menu-block__card">
    <div (click)="openBookPanelPage()">
      <mat-card-header>
        <mat-card-title>Работа с книгами</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Создание, редактирование, удаление книг
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Перейти</button>
      </mat-card-actions>
    </div>
  </mat-card>
  <mat-card class="menu-block__card">
    <div (click)="openCollectionPanelPage()">
      <mat-card-header>
        <mat-card-title>Работа с коллекциями</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Создание, редактирование, удаление коллекций
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Перейти</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
