<form (submit)="updateSelectedBook()" #updateForm="ngForm" autocomplete="off" *ngIf="selectedEditedBook">
  <mat-form-field>
    <input name="title" required matInput type="text" placeholder="Название" [(ngModel)]="selectedEditedBook.title">
  </mat-form-field>
  <mat-form-field>
    <input name="author" required matInput type="text" placeholder="Автор" [(ngModel)]="selectedEditedBook.author">
  </mat-form-field>
  <div id="downloadInput">
    <label class="gray-label">Загрузить обложку</label>
    <button type="button" mat-button mat-raised-button color="primary" (click)="img.click()">
      <span>Загрузить</span>
      <input type="file" #img name="img" accept="application/xml">
    </button>
    <span style="text-decoration: underline"></span>
  </div>
  <mat-form-field>
    <input name="shortDecription" required matInput type="text" placeholder="Короткое описание"
           [(ngModel)]="selectedEditedBook.shortDescription">
  </mat-form-field>
  <mat-form-field>
    <textarea name="description" required matInput type="text" placeholder="Полное описание"
              [(ngModel)]="selectedEditedBook.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select type="text" placeholder="Выбрать коллекцию"></mat-select>
  </mat-form-field>
  <mat-form-field>
    <input name="link1" matInput type="text" placeholder="Ссылка на литрес">
  </mat-form-field>
  <mat-form-field>
    <input name="link2" matInput type="text" placeholder="Ссылка на альпину">
  </mat-form-field>
  <mat-form-field>
    <input name="link3" matInput type="text" placeholder="Ссылка на лабиринт">
  </mat-form-field>
  <mat-form-field>
    <input name="link4" matInput type="text" placeholder="Ссылка на республику">
  </mat-form-field>
  <mat-form-field>
    <input name="link5" matInput type="text" placeholder="Ссылка на буквоед">
  </mat-form-field>
  <mat-form-field>
    <input name="linkYotube" matInput type="text" placeholder="Ссылка на ютуб отзыв"
           [ngModel]="selectedEditedBook.youtubeReviewVideoCodes">
  </mat-form-field>


  <div class="action-buttons">
    <button mat-raised-button color="primary" type="submit">Обновить</button>
    <button mat-raised-button color="danger" (click)="deleteSelectedBook()">Удалить</button>
  </div>
</form>
