<form  (submit)="saveCollection()" #menuForm="ngForm" autocomplete="off">
  <mat-form-field>
    <input name="title" required matInput type="text" placeholder="Название" [(ngModel)]="newCollection.title">
  </mat-form-field>
  <button class="download-button" mat-button>Загрузить обложку
    <input name="img" type="file" placeholder="Обложка" >
  </button>
  <mat-form-field>
    <textarea name="description" required matInput type="text" placeholder="Полное описание" [ngModel]="newCollection.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select type="text" placeholder="Выбрать книгу"></mat-select>
  </mat-form-field>


  <div class="action-buttons">
    <button mat-raised-button color="primary" type="submit">Добавить коллекцию</button>
  </div>
</form>
