<form  (submit)="saveCollection()" #menuForm="ngForm" autocomplete="off">
  <mat-form-field>
    <input name="title" required matInput type="text" placeholder="Название" [(ngModel)]="newCollection.title">
  </mat-form-field>
  <div id="downloadInput">
    <label class="gray-label">Загрузить обложку</label>
    <button type="button" mat-button mat-raised-button color="primary" (click)="img.click()">
      <span>Загрузить</span>
      <input type="file" #img name="img" accept="application/xml">
    </button>
    <span style="text-decoration: underline"></span>
  </div>
  <mat-form-field>
    <textarea name="description" required matInput type="text" placeholder="Полное описание" [ngModel]="newCollection.description"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select type="text" placeholder="Выбрать книгу"></mat-select>
  </mat-form-field>


  <div class="action-buttons">
    <button mat-raised-button color="primary" type="submit">Добавить коллекцию</button>
  </div>
</form>
