<div class="search-block cont center">
  <h1>Книги для саморазвития</h1>
  <div class="row">
    <mat-form-field>
      <input #searchInput matInput placeholder="Поиск по названию и автору">
    </mat-form-field>
    <button class="search-block__search-btn" mat-raised-button *ngIf="searchInput.value">Найти</button>
  </div>
  <h2>Подборки</h2>
</div>

<div class="collection-block row space-between">
  <mat-card class="collection-block__card" *ngFor="let collection of collections">
    <mat-card-header>
      <mat-card-title>{{collection.title}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="collection.img">
    <mat-card-content>
      <p>
        {{collection.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      {{collection.vote}}
    </mat-card-actions>
  </mat-card>
</div>
