h1 {
  width: 80%
}
.books-block {
  width: 80%
}

.books-block__card {
  max-width: 45%;
  max-height: 500px;
}

@media screen and (max-width: 1233px) {
  .books-block__card {
    max-width: 100%;
    max-height: 500px;
  }
}
.books-block__card > img {
  max-height: 300px;
}
.mat-card-title {
  font-size: 1.5em
}
