<h1 class="row">
    {{collection.title}}
</h1>
<div class="books-block row space-between">
  <mat-card class="books-block__card" *ngFor="let book of collection.books">
    <div (click)="openBook(book.guid)">
      <mat-card-header>
        <mat-card-title>{{book.title}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="book.img">
      <mat-card-content>
        <p>
          {{book.shortDescription}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        {{book.vote}}
      </mat-card-actions>
    </div>
  </mat-card>
</div>
