body {
  margin: 0;
}

.cont {
  display: flex;
  flex-flow: column;
}
.row {
  display: flex;
  flex-flow: row wrap;
}
.center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
