<h1 class="row">Добавить подборку</h1>

<div class="row tab-and-table-block">
  <mat-tab-group class="tab-and-table-block__tabs">
    <mat-tab class="tab-and-table-block__create" label="Новая">
      <app-create-collection-form></app-create-collection-form>
    </mat-tab>
    <mat-tab class="tab-and-table-block__edit" label="Выбранная">
      <app-update-collection-form
        [selectedEditedCollection]="selectedEditedCollection$ | async"
        (updateCollection)="updateCollection($event)"
      ></app-update-collection-form>
    </mat-tab>
  </mat-tab-group>
  <mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef class="title-cell">Название</mat-header-cell>
      <mat-cell *cdkCellDef="let collection" class="title-cell" > {{collection.title}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="booksCount">
      <mat-header-cell *cdkHeaderCellDef class="author-cell">Автор</mat-header-cell>
      <mat-cell *cdkCellDef="let collection" class="author-cell"> {{collection.booksCount}} </mat-cell>
    </ng-container>
    <mat-header-row *cdkHeaderRowDef="['title', 'booksCount']"></mat-header-row>
    <mat-row (click)="selectCollectionForEdit(collection)"  *cdkRowDef="let collection; columns: ['title', 'booksCount']"></mat-row>
  </mat-table>
</div>
