<h1 class="row">Добавить подборку</h1>
<breadcrumb [adminPanelMainPage]="'admin-panel'" [currentUrlLabel]="'Подборки'"></breadcrumb>
<div class="row tab-and-table-block">
  <mat-tab-group class="tab-and-table-block__tabs" #matTabGroup>
    <mat-tab class="tab-and-table-block__create" label="Новая">
      <app-create-collection-form
        (saveNewCollection)="saveNewCollection($event)"
      ></app-create-collection-form>
    </mat-tab>
    <mat-tab class="tab-and-table-block__edit" label="Выбранная">
      <app-update-collection-form
        [selectedEditedCollection]="selectedEditedCollection$ | async"
        (updateCollection)="updateCollection($event)"
        (deleteCollection)="deleteCollection($event)"
      ></app-update-collection-form>
    </mat-tab>
  </mat-tab-group>
  <mat-table #table [dataSource]="plainCollections$ | async">
    <ng-container cdkColumnDef="title">
      <mat-header-cell *cdkHeaderCellDef class="title-cell">Название</mat-header-cell>
      <mat-cell *cdkCellDef="let collection" class="title-cell" > {{collection.title}} </mat-cell>
    </ng-container>
    <ng-container cdkColumnDef="booksCount">
      <mat-header-cell *cdkHeaderCellDef class="author-cell">Кол-во книг</mat-header-cell>
      <mat-cell *cdkCellDef="let collection" class="author-cell"> {{collection.booksCount}} </mat-cell>
    </ng-container>
    <mat-header-row *cdkHeaderRowDef="['title', 'booksCount']"></mat-header-row>
    <mat-row [class.selected-bgc]="selectedCollectionGuid === collection.guid" (click)="selectCollectionForEdit(collection.guid)"  *cdkRowDef="let collection; columns: ['title', 'booksCount']"></mat-row>
  </mat-table>
</div>
